<div fxLayout="column" class="MainContainer">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="TopBar">

    <button mat-icon-button (click)="drawer.toggle()" (click)="changeVisiblity()" class="MenuButton">
      <mat-icon>menu</mat-icon>
    </button>


    <img src="../../../assets/icons8-google-keep-48.png">
    <h2 class="Keep">Keep</h2>
    <input type="search" placeholder="Search" class="SearchBar">

    <button mat-button [matMenuTriggerFor]="beforeMenu" class="Menu1">
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before" fxLayoutAlign="center start">
      <mat-icon class="material-icons-outlined" >account_circle</mat-icon>
      <p>Nitin Makin</p>
      <p>nitinmakin124@gmail.com</p>
      <button type="submit" (click)="logout()" class="LogoutButton">Log Out</button>
    </mat-menu>
  </div>
 
  

  <mat-drawer-container class="BodyContainer">
    <div class="SideBarIcon">
      <div fxFlex="5%">
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">emoji_objects</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">create</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">archive</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (mouseenter)="drawer.toggle()" class="material-icons-outlined">delete</mat-icon>
      </button>
    </div>

    <div fxFlex="95%" fxLayoutAlign="center start">
    <app-createnotes></app-createnotes>
    </div>
    </div>
  </mat-drawer-container>

  <mat-drawer #drawer class="SlideBarOption SlideBar" mode="side" (mouseleave)="drawer.toggle()" (mouseleave)="changeVisiblity()">
    <mat-selection-list [multiple]="false">
      <mat-list-option class="SlideBarOption">Notes</mat-list-option>
      <mat-list-option class="SlideBarOption">Reminder</mat-list-option>
      <mat-list-option class="SlideBarOption">Edit lable</mat-list-option>
      <mat-list-option class="SlideBarOption">Archive</mat-list-option>
      <mat-list-option class="SlideBarOption">Bin</mat-list-option>
    </mat-selection-list>
  </mat-drawer>

 

</div>

