.MainContainer{
height: 100%;
width: 100%;
}

.MatCard{
  width: 600px;
  height: 17px;
  margin-top: 30px;
  background-color:rgb(255, 253, 253);
  font-weight: bold;
  color: rgb(111, 110, 110);
  border: none;
  outline: none;
 box-shadow: blue;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 10px;
}

.MatCard1{
  width: 600px;
  height: 110px;
  margin-top: 30px;
  background-color:rgb(255, 254, 254);
  font-weight: bold;
 color: rgb(102, 102, 102);
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.Menu1{
  color: black;
}
.CloseButton{
background-color:white;
border: none;
font-size: larger;
font-weight: bold;
color: rgb(139, 139, 139);
padding-left: 300px;
margin-left: 70px;
outline: none;
}

.Buttons{
  border: none;
  background-color: white;
  outline: none;
  color: rgb(94, 94, 94);
}
.Title{
  width: 400px;
  height: 30px;
  border: none;
  outline: none;
  font-weight: bold;
}

.Title1{
  font-size: large;
  font-weight: bold;
}
// .ButtonsMargin{
//   width: 700px;
//   border: 1px solid rebeccapurple;
// }

@media screen and (max-width:750px) {
  .MatCard{
    width: 400px;
  }
 
  .MatCard1{
    width: 400px;
  }
  .CloseButton{
    padding-left: 100px;
  }
}
@media screen and (max-width:600px) {
  .MatCard{
    width: 300px;
  //  margin-left: 10px;
  }
  .Title{
    width: 150px;
  }
  .CloseButton{
    padding-left: 0%;
    margin-left: 0%;
  }
  .MatCard1{
    width: 300px;
    height: 130px;
   // margin-left: 20px;
   
  }
}

@media screen and (max-width:450px) {
  .MatCard{
    width: 230px;
 //   margin-left: 20px;
  }
  .Title{
    width: 150px;
  }
  .CloseButton{
    padding-left: 0%;
    margin-left: 0%;
  }
  .MatCard1{
    width: 230px;
    height: 130px;
    margin-left: 20px;
   
  }
}