<!-- 
<div style="display: flex; justify-content: center; margin-top: 100px;">

  <form [formGroup]="form">
    <inpt formControlName="description" matInput placeholder="description" required>
<button (ut formControlName="title" matInput placeholder="title" required>
    <inpuclick)="addNotes()">Add</button>
  </form>
</div> -->

<div>
  <div fxLayout="row" fxLayoutAlign="space-around start">
  <mat-card class="MatCard" (click)="reset=false" *ngIf="reset">Take a note...</mat-card>
</div>

<div>
  <div fxLayout="coloum" fxLayoutAlign="space-around center">
  <mat-card class="MatCard1" *ngIf="!reset">
      
    <form [formGroup]="form">
      <input formControlName="title" matInput placeholder="Title" class="Title" required><br><br>
      <input formControlName="description" matInput placeholder="Take a note" class="Title" required>
    </form>
    <div fxLayout="row" fxLayoutAlign="end end" >

      <button (click)="addNotes()" (click)="reset=true" class="CloseButton">Close</button>


    </div>
  </mat-card>
</div>





</div>

<!-- 
   <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-card class="MatCard1 form" *ngIf="!reset">
    <form [formGroup]="form">
      <input formControlName="title" matInput placeholder="title" required>
      <input formControlName="description" matInput placeholder="description" required>
    </form>
  </mat-card>
</div> -->