<div>
  <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-card class="MatCard" (click)="reset=false" *ngIf="reset">Take a note...</mat-card>
  </div>

  <div>
    <div fxLayout="coloum" fxLayoutAlign="space-around center">
      <mat-card class="MatCard1" *ngIf="!reset">

        <form [formGroup]="form">

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <input formControlName="title" matInput placeholder="Title" class="Title Title1" required>
            <button class="Buttons"><span class="material-icons">push_pin</span></button>
          </div>
          <input formControlName="description" matInput placeholder="Take a note" class="Title" required><br><br>
      
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="end end" >
            <app-buttons></app-buttons>
            <button (click)="addNotes()" (click)="reset=true" class="CloseButton">Close</button>
          </div>
          
        </form>

      </mat-card>
    </div>
  </div>

  <!-- 
   <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-card class="MatCard1 form" *ngIf="!reset">
    <form [formGroup]="form">
      <input formControlName="title" matInput placeholder="title" required>
      <input formControlName="description" matInput placeholder="description" required>
    </form>
  </mat-card>
</div> -->