
<div class="Main">

 <div class="fundoo">
    <span class="blue">F</span>
    <span class="red">u</span>
    <span class="yellow">n</span>
    <span class="blue">d</span>
    <span class="green">o</span>
    <span class="red">o</span>
</div>

<h1>Account Recovery</h1>

<h4 class="EmailH4">enter your Fundoo Email</h4>

<mat-form-field appearance="outline" class="Email">
    <mat-label>Email</mat-label>
    <input matInput>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>


    <div fxLayout="row" fxLayoutAlign="space-around center" class="BottonLink">
        <a href="/login" class="BackToLogin" >Back to Login</a>
        <button type="submit" mat-flat-button color="primary" class="Button">Recover</button>
        </div>

</div>