<div class="MainContainer">

<div class="Main">

    <div class="fundoo">
        <span class="blue">F</span>
        <span class="red">u</span>
        <span class="yellow">n</span>
        <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span>
    </div>

    <h1>Account Recovery</h1>

    <h4 class="EmailH4">enter your Fundoo Email</h4>
    <form [formGroup]="form">


        <mat-form-field appearance="outline" class="Email">
            <mat-label>Email or phone</mat-label>
            <input matInput formControlName="Email" required>
            <mat-error *ngIf="form.controls.Email.hasError('required')">
                email is required
            </mat-error>
            <mat-error *ngIf="form.controls.Email.hasError('email')&& !form.controls.Email.hasError('required')">
                please enter valid email id
            </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-around center" class="BottonLink">
            <a href="/login" class="BackToLogin">Back to Login</a>
            <button type="submit" mat-flat-button color="primary" (click)="LoadData()">Recover</button>
        </div>
    </form>
</div>
</div>