<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" class="Margin">
    <mat-card class="MatCard" *ngFor="let note of note;let i = index" (mouseenter)="onHover(i)"
        (mouseleave)="onHover(-1)" [style.background]="note.color">

        <div >
            
            <div fxLayout="row" fxLayoutAlign="space-between center" class="Title" 
            (click)="openDialog(note.title,note.message,note.id,note.color)">
                {{note.title}}
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="Title1" 
            (click)="openDialog(note.title,note.message,note.id,note.color)">
                {{note.message}}
            </div><br><br fxHide.xs><br fxHide.xs> 

            <span [hidden]="!(hoverIndex==i)">
                <app-delete-notes [noteArray]="note"  (operation)="displayNotes()"></app-delete-notes>
            </span>

        </div>     
    </mat-card>
   
</div>























<!-- <div fxLayout="row" fxLayoutAlign="space-around start">
    <mat-card class="MatCard1" (mouseleave)="reset=true" *ngIf="!reset && !reset1" (click)="reset1=true">
        <form [formGroup]="form">

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <input formControlName="title" matInput class="Title" required>
                <button class="Buttons"><span class="material-icons">push_pin</span></button>
            </div>
            <input formControlName="description" matInput class="Title" required><br fxHide.xs><br fxHide.xs><br
                fxHide.xs>
            <app-buttons></app-buttons>

        </form>
    </mat-card>
</div> -->

<!-- <div fxLayout="coloum" fxLayoutAlign="space-around center">
    <mat-card class="MatCard1new" *ngIf="reset1" (click)="displayNotes()">
        <form [formGroup]="form">

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <input formControlName="title" matInput class="Title">
                <button class="Buttons"><span class="material-icons">push_pin</span></button>
            </div>
            <input formControlName="description" class="Title" required><br><br>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="end end">
                <app-buttons></app-buttons>
                <button (click)="reset1=false" class="CloseButton">Close</button>
            </div>
        </form>
    </mat-card>
</div> -->