.MatCard{
    margin-top: 30px;
   margin-left: 4%;
   margin-right: 2%;
    width: 220px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.Row{
  display: flex;
  flex-direction: row;
}
.MatCard1{
    margin-top: 30px;
    margin-right: 600px;
    width: 220px;
    height: 120px;
    color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Title{
    width: auto;
    height: 30px;
    border: none;
    outline: none;
  }
.Buttons{
    border: none;
    background-color: white;
    outline: none;
    color: rgb(59, 59, 59);
    padding-right: 15px;
    padding-left: 0px;
  }


  @media screen and (max-width:1000px) {

    // .MatCard{
    //     margin-right: 400px;

    // }

    .MatCard1{
        margin-right: 400px;
    }

  }

  @media screen and (max-width:750px) {

    // .MatCard{
    //     margin-right: 0%;
    //      width: 300px;
    //      height: 110px;

    // }

    .MatCard1{
        margin-right: 0%;
        width: 300px;
        height: 120px;
    }
  }

  @media screen and (max-width:550px) {
    .Buttons{
padding-right: 4px;
}

.MatCard{
    margin-left: 12%;
     width: 250px;
     height: 80px;
}

.MatCard1{
    margin-right: 0%;
    width: 200px;
    height: 80px;
}
  }
