$color:white;

@mixin flex {
    display: flex;
    flex-direction: column;
}
.Buttons{
    border: none;
    background-color:$color;
    outline: none;
    color: rgb(105, 103, 103);
    padding-right: 12px;
    padding-left: 0px;
    @include flex;
  
  }
  @media screen and (max-width:600px) {
.Buttons{
padding-right: 4px;
}
  }