
.Buttons{
    border: none;
    background-color: white;
    outline: none;
    color: rgb(59, 59, 59);
    padding-right: 15px;
  }
  @media screen and (max-width:600px) {
.Buttons{
padding-right: 4px;
}
  }