<div fxLayout="row" fxLayoutAlign="start center">
  <button class="Buttons"><span class="material-icons">add_alert</span></button>
  <button class="Buttons"><span class="material-icons">person_add_alt_1</span></button>
  <button class="Buttons"><span class="material-icons">archive</span></button>
  <button class="Buttons"><span class="material-icons">color_lens</span></button>
  <button class="Buttons"><span class="material-icons">photo</span></button>
 <button class="Buttons" [matMenuTriggerFor]="menu"><span class="material-icons">more_vert</span></button>
 <mat-menu  #menu="matMenu" >
    <button class="Buttons1">Delete note</button>
    <button class="Buttons1">Add lable</button>
    <button class="Buttons1">Add drowing</button>
    <button class="Buttons1">Make a copy</button>
  </mat-menu>
</div>

