<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;"  *ngIf="!isTrash">

    <span class="material-icons Buttons">add_alert</span>
    <span class="material-icons Buttons">person_add_alt_1</span>

    <span class="material-icons Buttons"  (click)="archiveNotes()"  *ngIf="!isArchive">archive</span>
    <span class="material-icons Buttons" (click)="archiveNotes()" *ngIf="isArchive">unarchive</span>
    <button mat-icon-button [matMenuTriggerFor]="menu1" class="Buttons">
        <mat-icon class="material-icons-outlined">color_lens</mat-icon>
    </button>
    <mat-menu #menu1="matMenu" fxLayout="row">
        <div fxLayoutAlign="space-around center" class="pallet">
            <div class="color-one" (click)="getColor('#fff')">
                <mat-icon>done</mat-icon>
            </div>
            <div class="color-two" (click)="getColor('#f28b82')"></div>
            <div class="color-three" (click)="getColor('#fbbc04')"></div>
            <div class="color-four" (click)="getColor('#fff475')"></div>
        </div>
        <div fxLayoutAlign="space-around center" class="pallet">
            <div class="color-five" (click)="getColor('#ccff90')"></div>
            <div class="color-six" (click)="getColor('#a7ffeb')"></div>
            <div class="color-seven" (click)="getColor('#cbf0f8')"></div>
            <div class="color-eight" (click)="getColor('#aecbfa')"></div>
        </div>

        <div fxLayoutAlign="space-around center" class="pallet">
            <div class="color-nine" (click)="getColor('#d7aefb')"></div>
            <div class="color-ten" (click)="getColor('#fdcfe8')"></div>
            <div class="color-eleven" (click)="getColor('#e6c9a8')"></div>
            <div class="color-twelve" (click)="getColor('#e8eaed')"></div>
        </div>
    </mat-menu>


    <span class="material-icons Buttons">photo</span>
    <span class="material-icons Buttons" [matMenuTriggerFor]="menu">more_vert</span>

    <mat-menu #menu="matMenu">
        <!-- <button class="Buttons1" (click)="deleteNotes()">Delete note</button> -->
         <button class="Buttons1" (click)="trashNote()" >Delete note</button>
        <button class="Buttons1">Add drowing</button>
        <button class="Buttons1">Make a copy</button> 

    </mat-menu>


   


</div>

<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 60px;"  *ngIf="isTrash">
    <!-- <span class="material-icons Buttons" >archive</span> -->
    <span class="material-icons Buttons" (click)="trashNote()" >restore_from_trash</span>
    <span class="material-icons Buttons"  (click)="deleteNotes()" >
        delete_sweep
        </span>
</div>

