
   <div  class="Main">
    <div class="fundoo">
        <span class="blue">F</span>
        <span class="red">u</span>
        <span class="yellow">n</span>
        <span class="blue">d</span>
        <span class="green">o</span>
        <span class="red">o</span>
    </div>

   
    <h2>Sign in</h2>

    <h4>to continue to Fundoo</h4><br>

    <mat-form-field appearance="outline" class="Email">
        <mat-label>Email or phone</mat-label>
        <input matInput>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="Email">
            <mat-label>Confirm</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        
            <a href="/forget-password" class="ForgetPassword">Forgot password?</a><br><br>
           
            <div fxLayout="row" fxLayoutAlign="space-around center" >
                <a href="/register" class="CreateAccount" >Create account</a>
                <button type="submit" mat-flat-button color="primary" class="Button">Register</button>
                </div>
</div>
