.Main{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    border: 1px solid rgb(214, 214, 214);
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   text-align: center;
  border-radius: 10px;
  
}

.ForgetPassword{
    padding-right: 190px;
    text-decoration: none;
    color: rgb(140, 98, 255);
    font-weight: 500;
}
.Button{
    margin-right: 10px;
}
.CreateAccount{
    text-decoration: none;
    color: rgb(140, 98, 255);
    font-weight: 500;
}
.Email{
    width: 300px;
   
}

.fundoo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 8%;
}
.image {
    width: 300px;
    padding-top: 100px;
    margin-right: 20px;
}

.blue {
    color: #4285f4;
}

.yellow {
    color: #fbbc05;
}

.red {
    color: #ea4335;
}

.green {
    color: #34a853;
}
