.Main{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    border: 1px solid rgb(214, 214, 214);
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   text-align: center;
  border-radius: 10px;
  
}
.H1Padding{
    margin-top: 10px;
}
.PasswordPadding{
    padding-top: 40px;
}
.Password{
    width: 300px;
    padding-left: 55px;
}


.BottonLink{
    padding-top: 60px;
}


.BackToLogin{
    text-decoration: none;
    color: rgb(140, 98, 255);
    font-weight: 500;
}
.fundoo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 8%;
}
.image {
    width: 300px;
    padding-top: 100px;
    margin-right: 20px;
}

.blue {
    color: #4285f4;
}

.yellow {
    color: #fbbc05;
}

.red {
    color: #ea4335;
}

.green {
    color: #34a853;
}