
<div class="MainContainer">

<div class="Main">
    <div class="fundoo">
       <span class="blue">F</span>
       <span class="red">u</span>
       <span class="yellow">n</span>
       <span class="blue">d</span>
       <span class="green">o</span>
       <span class="red">o</span>
   </div>
   <h1 class="H1Padding">Reset Password</h1>

   <form [formGroup]="form" >
   <mat-form-field appearance="outline" class="Password">
    <mat-label>new-password</mat-label>
    <input formControlName="Password" matInput [type]="hide ? 'password' : 'text'" required>
    
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.controls.Password.hasError('pattern') && !form.controls.Password.hasError('required')">
      please enter valid Password
  </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="Password">
    <mat-label>Confirm-password</mat-label>
    <input  formControlName="Conform" matInput [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.controls.Conform.hasError('pattern') && !form.controls.Conform.hasError('required')">
      please enter valid Password
  </mat-error>
  </mat-form-field>

  
  
  <div fxLayout="row" fxLayoutAlign="space-around center" class="BottonLink">
    <a href="/login" class="BackToLogin" >Back to Login</a>
    <button type="submit" mat-flat-button color="primary" (click)="LoadData()">Reset</button>
    </div>

    </form>

</div>
</div>