<div class="Main">

    <div class="fundoo">
       <span class="blue">F</span>
       <span class="red">u</span>
       <span class="yellow">n</span>
       <span class="blue">d</span>
       <span class="green">o</span>
       <span class="red">o</span>
   </div>
   
   <h1 class="H1Padding">Reset Password</h1>

   <mat-form-field appearance="outline" class="Password PasswordPadding">
    <mat-label>new-password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="Password">
    <mat-label>Confirm-password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  
  <div fxLayout="row" fxLayoutAlign="space-around center" class="BottonLink">
    <a href="/login" class="BackToLogin" >Back to Login</a>
    <button type="submit" mat-flat-button color="primary">Reset</button>
    </div>

</div>   
