.CloseButton{
    background-color:white;
    border: none;
    font-size: larger;
    font-weight: bold;
    color: rgb(139, 139, 139);
    padding-left: 300px;
    margin-left: 70px;
    outline: none;
    }
    
.Title{
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: bold;
  }

  
.Buttons{
    border: none;
    background-color: white;
    outline: none;
    color: rgb(94, 94, 94);
  }
  
  .Title1{
    font-size: large;
    font-weight: bold;
  }

  @media screen and (max-width:600px) {

.Responsive{
  width: 260px;
 
}

.Title{
  width: 150px;
}

.CloseButton{
  padding-left: 10px;
}

  }